:root {
  /* Font Styles & Size */
  --font-family: "Roboto", sans-serif;
  --font-size: 1rem;

  /* Colors */
  --white: #f5f5f5;
  --black: #000000;
  --aqua: #00fff0;
  --dark-blue: #13185c;

  /* Heading Styles */
  --main-heading-font-size: 2rem;
  --heading-margin: 2rem 0;
  --heading-font-weight: 700;
  --heading-color: var(--aqua);

  /* Background */
  --bg-color: var(--dark-blue);
}

/* Main Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  color: var(--white);
}

/* Text Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--main-heading-font-size);
  color: var(--heading-color);
  margin: var(--heading-margin);
  padding: 0;
}

p {
  line-height: 1.5;
}

/* Links */
a {
  color: var(--aqua);
  text-decoration: none;
}

li {
  list-style: none;
}

a:hover {
  color: var(--white);
}

/* ID */
#main__header {
  padding: 1rem 0;
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: bold;
}

#secondary__heading {
  font-size: 2.5rem;
  margin: 1rem 0;
}

#link__heading {
  font-size: 2rem;
  margin: 1rem 0;
  padding: 1rem 0;
}

/* Classes */
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  padding: 1rem;
  margin: 1rem 0;
}

.main__paragraph {
  font-size: 24px;
}

.datos__personales {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  margin: 1rem 0;
}

.list {
  font-size: 24px;
}

.content {
  padding: 1rem;
  margin: 1rem 0;
}

.memes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;

  padding: 1rem;
  margin: 1rem 0;
}

.memes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proyects__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;

  padding: 1rem 0;
  margin: 1rem 0;
}

.list__content {
  padding: 1rem 0;
  margin: 1rem 0;
}

.list__content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.list__paragraph {
  font-size: 18px;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 1rem 0;
}

.footer_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
