<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Michi's password validator</strong> by <a href="#">Carlos Salguero</a> and <a href="#">Diego Sandoval</a>.
    </p>
    <p>
      Copyright (c) 2023.
      Licensed under the <a href="#">MIT license</a>.
    </p>
  </div>
</footer>

</html>