<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h3>Michi's Password Validator</h3>
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbar-menu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/michi">Michis</a>
      <a class="navbar-item" href="/perro">Perro</a>
      <a class="navbar-item" href="/Ajolote">Ajolote</a>
      <a class="navbar-item" href="/datos">Datos</a>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    var $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll(".navbar-burger"),
      0
    )

    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          var target = el.dataset.target
          var $target = document.getElementById(target)

          el.classList.toggle("is-active")
          $target.classList.toggle("is-active")
        })
      })
    }
  })
</script>
